<div class="fieldset">

    <div class="page-title">
        <h2>Workout Info</h2>
    </div>

    <div class="padding">
        <div class="list margin-bottom-0 padding padding-top-0">
            <label class="item item-input item-floating-label margin-bottom-20">
                <textarea ng-model="workout['title']" placeholder="Workout Name" rows="2"></textarea>
            </label>
            <label class="item item-input item-floating-label item-tags margin-bottom-10">
                <tags-input ng-model="workout['tags']" placeholder="Popular Tags"></tags-input>
            </label>
            <div class="item item-toggle">
                <span class="label">Pin Workout</span> <i class="icon super-star"></i>
                <label class="toggle">
                    <input type="checkbox" ng-model="workout['featured']">
                    <div class="track">
                        <div class="handle"></div>
                    </div>
                </label>
            </div>
        </div>
    </div>

    <div class="divider margin-top-10 margin-bottom-10"></div>

    <div class="page-title">
        <h2>Select Exercises</h2>
        <span class="sub-title">Search by popular tags or name</span>
    </div>

    <div class="padding padding-bottom-100">
        <div ng-hide="localExercises == null" class="padding">
            <label class="item item-input item-floating-label item__add-exercise-to-workout search margin-bottom-20">
                <input type="text" ng-model="exerciseSearch" placeholder="Filter Exercises" /><i class="icon super-search"></i>
            </label>
        </div>
        <ul class="list list__add-exercise-to-workout padding padding-top-0 margin-bottom-0">
            <span class="item" ng-show="localExercises == null">
                You have not added any Exercises.
            </span>
            <li ng-repeat="exerciseSelect in exerciseSelects track by $index">
                <label class="item item-input input-select">
                    <select ng-model="workout.exercises['exercise_' + $index].id">
                        <option ng-if="exercise_keys < 1" value="" selected>Select Exercise #{{$index + 1}}...</option>
                        <option ng-if="exercise_keys > 0" value="" selected>Select Exercise #{{$index + 1}}... {{workout.exercises['exercise_' + $index].name}}</option>
                        <option value="">---------------------</option>
                        <option ng-repeat="option in exerciseSelect.option | filter:exerciseSearch" value="{{option.id}}">{{option.name}}</option>
                    </select>
                </label>
            </li>
        </ul>
        <div class="buttons buttons__add-exercise-to-workout padding padding-top-0">
            <span class="btn-add-new-exercise" ng-click="addExercise()">
                <i class="icon super-plus-circled"></i>
            </span>
            <span class="btn-remove-new-exercise" ng-click="removeExercise()">
                <i class="icon super-minus-circled"></i>
            </span>
        </div>
    </div>

</div>

<div class="fixed-footer">
    <button class="button button-half button-workouts" ng-click="submitForm()">Save</button>
    <button class="button button-half button-neutral" ng-click="cancel()">Cancel</button>
</div>
