<div ng-controller="IndexController" class="workout-index">
    <div ng-show="showSpinner" ng-include="'_spinner.html'"></div>
    <div ng-hide="showSpinner" class="padding">
        <div class="fixed-header fixed-header__search list margin-bottom-0">
            <label class="item item-input item-floating-label margin-bottom-0">
                <input type="text" ng-model="search" placeholder="Filter Workouts" /><i class="icon super-search"></i>
            </label>
        </div>
        <ul class="list workout-list padding padding-top-70 padding-bottom-150">
            <super-navigate location="workout#show" data-params-id="{{ workout.id }}" ng-repeat="workout in localWorkouts | orderBy: 'featured' | filter:search">
                <li class="item">
                    <span ng-bind="workout['title']"></span><span ng-if="workout.featured" class="right icon super-star"></span>
                </li>
            </super-navigate>
        </ul>
        <div class="index-add fixed-footer">
            <super-modal-show location="workout#new">
                <button class="button button-full button-workouts margin-bottom-10">Add another workout</button>
            </super-modal-show>
            <super-navigate location="exercise#index">
                <button class="button button-full button-exercises">Go To Exercises</button>
            </super-navigate>
        </div>
    </div>
</div>