<div ng-controller="ShowController">
    <div ng-show="showSpinner" ng-include="'_spinner.html'"></div>
    <div ng-hide="showSpinner">
        <div class="page-title">
            <h2><span ng-bind="localWorkout['title']"></span></h2>
        </div>
        <div class="padding padding-top-0 padding-bottom-100">
            <div ng-show="localWorkout.exercises != ''" class="info-boxes margin-bottom-20 padding">
                <div ng-repeat="exercise in exercises" class="row workout-info-box info-box">
                    <super-navigate location="exercise#show" data-params-id="{{ exercise.id }}" class="col">
                        <div class="count">{{$index + 1}}</div>
                        <span class="workout-exercise-name">{{exercise.name}}</span>
                        <span class="workout-exercise-sets">x {{exercise.sets}} sets</span>
                        <i class="icon view-link">View</i>
                        <div class="workout-exercise-info" ng-if="exercise.reps == 'fixed'">
                            <span ng-bind="exercise['reps_fixed']"></span> reps @ <span ng-bind="exercise['reps_fixed_weight']"></span> <span ng-bind="exercise['weight_unit']"></span><br />
                            <div ng-if="exercise.max_weight" class="margin-top-10">
                                Max Weight: {{exercise.max_weight}} {{exercise.weight_unit}}
                            </div>
                        </div>
                        <div class="workout-exercise-info" ng-if="exercise.reps == 'series'">
                            <div ng-repeat="i in getCount(exercise.sets) track by $index">
                                <div class="series-entry">
                                    <span ng-bind="exercise.reps_series['reps_series' + '_' + $index]"></span> reps <small>@</small> <span ng-bind="exercise.reps_series['reps_series_weight' + '_' + $index]"></span> {{exercise.weight_unit}}
                                </div>
                            </div>
                            <div ng-if="exercise.max_weight" class="margin-top-10">
                                Max Weight: {{exercise.max_weight}} {{exercise.weight_unit}}
                            </div>
                        </div>
                    </super-navigate>
                </div>
            </div>
        </div>
        <div class="fixed-footer">
            <super-modal-show location="workout#edit?id={{ localWorkout.id }}">
                <button class="button button-full button-workouts">
                    Edit This Workout
                </button>
            </super-modal-show>
        </div>
    </div>
</div>
