/*Colors*/
@font-face {
  font-family: 'oswaldbold';
  src: url("../../../fonts/oswald-bold-webfont.eot");
  src: url("../../../fonts/oswald-bold-webfont.eot?#iefix") format("embedded-opentype"), url("../../../fonts/oswald-bold-webfont.woff2") format("woff2"), url("../../../fonts/oswald-bold-webfont.woff") format("woff"), url("../../../fonts/oswald-bold-webfont.ttf") format("truetype"), url("../../../fonts/oswald-bold-webfont.svg#oswaldbold") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'oswaldlight';
  src: url("../../../fonts/oswald-light-webfont.eot");
  src: url("../../../fonts/oswald-light-webfont.eot?#iefix") format("embedded-opentype"), url("../../../fonts/oswald-light-webfont.woff2") format("woff2"), url("../../../fonts/oswald-light-webfont.woff") format("woff"), url("../../../fonts/oswald-light-webfont.ttf") format("truetype"), url("../../../fonts/oswald-light-webfont.svg#oswaldlight") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'oswaldregular';
  src: url("../../../fonts/oswald-regular-webfont.eot");
  src: url("../../../fonts/oswald-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../../../fonts/oswald-regular-webfont.woff2") format("woff2"), url("../../../fonts/oswald-regular-webfont.woff") format("woff"), url("../../../fonts/oswald-regular-webfont.ttf") format("truetype"), url("../../../fonts/oswald-regular-webfont.svg#oswaldregular") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'oxygenbold';
  src: url("../../../fonts/oxygen-bold-webfont.eot");
  src: url("../../../fonts/oxygen-bold-webfont.eot?#iefix") format("embedded-opentype"), url("../../../fonts/oxygen-bold-webfont.woff2") format("woff2"), url("../../../fonts/oxygen-bold-webfont.woff") format("woff"), url("../../../fonts/oxygen-bold-webfont.ttf") format("truetype"), url("../../../fonts/oxygen-bold-webfont.svg#oxygenbold") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'oxygenregular';
  src: url("../../../fonts/oxygen-regular-webfont.eot");
  src: url("../../../fonts/oxygen-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../../../fonts/oxygen-regular-webfont.woff2") format("woff2"), url("../../../fonts/oxygen-regular-webfont.woff") format("woff"), url("../../../fonts/oxygen-regular-webfont.ttf") format("truetype"), url("../../../fonts/oxygen-regular-webfont.svg#oxygenregular") format("svg");
  font-weight: normal;
  font-style: normal;
}
/* line 1, ../assets/sass/partials/_core.scss */
body {
  font-family: "oxygenregular", sans-serif;
  font-size: 16px;
  color: #423732;
  background: #413D3D;
}

/* line 8, ../assets/sass/partials/_core.scss */
h2, .h2, h3, .h3, h4, .h4 {
  width: 70%;
  color: #f5f5f5;
  text-align: left;
  text-transform: uppercase;
  font-family: "oswaldlight", sans-serif;
  margin: 0 0 20px;
  letter-spacing: .025rem;
}

/* line 18, ../assets/sass/partials/_core.scss */
button,
.button {
  font-family: "oxygenbold", sans-serif;
}

/* line 3, ../assets/sass/partials/_forms.scss */
form .fieldset {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  padding-bottom: 100px;
  overflow-y: scroll;
  z-index: 2;
  -webkit-overflow-scrolling: touch;
}
/* line 17, ../assets/sass/partials/_forms.scss */
form .item {
  border-left: 0;
  border-right: 0;
  border-top: 0;
  border-bottom: 0;
}
/* line 23, ../assets/sass/partials/_forms.scss */
form .item.last {
  margin-bottom: 40px;
}
/* line 31, ../assets/sass/partials/_forms.scss */
form .item-stacked-label .input-label {
  display: block;
}
/* line 35, ../assets/sass/partials/_forms.scss */
form .item-stacked-label input[type="text"],
form .item-stacked-label input[type="number"] {
  background-color: transparent;
}
/* line 42, ../assets/sass/partials/_forms.scss */
form .item-floating-label {
  margin-bottom: 30px;
}
/* line 46, ../assets/sass/partials/_forms.scss */
form .item-checkbox .checkbox {
  left: 0;
}
/* line 50, ../assets/sass/partials/_forms.scss */
form .input-label {
  color: #f5f5f5;
  margin-bottom: 5px;
  width: 85%;
  max-width: 300px;
}
/* line 56, ../assets/sass/partials/_forms.scss */
form .input-label .ex {
  display: block;
  font-size: 13px;
}
/* line 63, ../assets/sass/partials/_forms.scss */
form .input-select {
  position: relative;
}
/* line 66, ../assets/sass/partials/_forms.scss */
form .input-select:after {
  content: '';
  position: absolute;
  top: 15px;
  right: 12px;
  height: 0;
  width: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid #848482;
}
/* line 76, ../assets/sass/partials/_forms.scss */
form tags-input .tags {
  -moz-appearance: textfield;
  -webkit-appearance: textfield;
  padding: 0 0 5px 10px;
  margin-bottom: 10px;
  overflow: hidden;
  word-wrap: break-word;
  cursor: text;
  background-color: transparent;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-bottom: 1px solid #848482;
  box-shadow: 0 0 0 0 lightgray inset;
}
/* line 91, ../assets/sass/partials/_forms.scss */
form tags-input .tags .input {
  font-size: 18px;
  margin: 0;
  padding-left: 0;
  width: 100px !important;
  height: 45px;
}
/* line 99, ../assets/sass/partials/_forms.scss */
form tags-input .tags .tag-item {
  margin: 4px 5px;
  padding: 0 5px;
  height: 33px;
  line-height: 32px;
  border: 0;
  background: #848482;
  color: #f5f5f5;
}
/* line 109, ../assets/sass/partials/_forms.scss */
form tags-input .tags input[type="text"] {
  line-height: 45px;
}

/* line 117, ../assets/sass/partials/_forms.scss */
input[type="text"],
input[type="number"] {
  height: 45px;
  line-height: 20px;
  border-bottom: 1px solid #848482;
  color: #f5f5f5;
  font-size: 16px;
}
/* line 125, ../assets/sass/partials/_forms.scss */
input[type="text"].col-40,
input[type="number"].col-40 {
  display: inline-block;
  width: 38%;
  max-width: 38%;
}

/* line 133, ../assets/sass/partials/_forms.scss */
.list-qty .item {
  display: inline-block;
}

/* line 137, ../assets/sass/partials/_forms.scss */
.item-input-qty {
  text-align: center;
  padding: 0 20px 20px;
}

/* line 142, ../assets/sass/partials/_forms.scss */
input[type="text"].input-qty {
  display: inline-block;
  -webkit-appearance: none;
  vertical-align: middle;
  outline: 0;
  width: 90px;
  height: 110px;
  line-height: 110px;
  font-size: 70px;
  text-align: center;
  font-family: "oxygenregular", sans-serif;
  background-color: transparent;
  border: 1px solid #848482;
  color: #aaaaa9;
  padding: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
}

/* line 167, ../assets/sass/partials/_forms.scss */
textarea {
  -webkit-appearance: none;
  background-color: transparent;
  border: 1px solid #848482;
  outline: 0;
  font-size: 16px;
  padding: 10px;
  color: #aaaaa9;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
}

/* line 181, ../assets/sass/partials/_forms.scss */
select {
  width: 100%;
  -webkit-appearance: none;
  background-color: transparent;
  border: 1px solid #848482;
  outline: 0;
  padding: 8px 40px 8px 10px;
  font-size: 16px;
  color: #aaaaa9;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
}
/* line 196, ../assets/sass/partials/_forms.scss */
select.ng-dirty {
  color: #f5f5f5;
}

/* line 202, ../assets/sass/partials/_forms.scss */
select::-ms-expand {
  display: none;
}

/* line 206, ../assets/sass/partials/_forms.scss */
.item-input {
  position: relative;
  padding: 0;
  margin-bottom: 10px;
}
/* line 211, ../assets/sass/partials/_forms.scss */
.item-input .icon::before {
  position: absolute;
  bottom: 10px;
  right: 10px;
  color: #9d9d9c;
  font-size: 22px;
}
/* line 222, ../assets/sass/partials/_forms.scss */
.item-input.item-stacked-label .icon::before, .item-input.item-tags .icon::before {
  bottom: 30px;
}

/* line 230, ../assets/sass/partials/_forms.scss */
.item-radio .item-content,
.item-radio input:checked ~ .item-content {
  background-color: transparent;
}

/* line 235, ../assets/sass/partials/_forms.scss */
.list-set-exercise-reps {
  width: 90%;
  margin: 0 auto;
}
/* line 239, ../assets/sass/partials/_forms.scss */
.list-set-exercise-reps .item-radio input:checked ~ .super-ios-circle-outline:before {
  content: '\f400';
}
/* line 243, ../assets/sass/partials/_forms.scss */
.list-set-exercise-reps .item-radio .item-content {
  text-transform: uppercase;
}
/* line 247, ../assets/sass/partials/_forms.scss */
.list-set-exercise-reps .col-30 {
  display: inline-block;
  width: 33%;
  max-width: 33%;
  text-align: center;
}
/* line 254, ../assets/sass/partials/_forms.scss */
.list-set-exercise-reps .item-radio .radio-icon {
  display: block;
  visibility: visible;
  padding-top: 0;
  padding-bottom: 0;
  position: relative;
  top: auto;
  right: auto;
  color: #C8FF00;
  font-size: 36px;
}
/* line 268, ../assets/sass/partials/_forms.scss */
.list-set-exercise-reps .item-content {
  display: block;
  padding-right: 0;
  padding-left: 0;
}
/* line 274, ../assets/sass/partials/_forms.scss */
.list-set-exercise-reps .exercise-reps-message {
  display: block;
  color: #C8FF00;
  text-align: center;
  text-transform: uppercase;
}

/* line 283, ../assets/sass/partials/_forms.scss */
.to {
  color: #f5f5f5;
  font-size: 20px;
  text-align: center;
  margin-bottom: 20px;
}

/* line 290, ../assets/sass/partials/_forms.scss */
input.input.ng-pristine.ng-untouched.ng-valid,
input.input.ng-untouched.ng-valid.ng-dirty {
  height: 40px;
}

/* line 1, ../assets/sass/partials/_buttons.scss */
.button {
  position: relative;
  z-index: 2;
  display: block;
  text-transform: uppercase;
  line-height: 50px;
  font-size: 15px;
  margin: 0 auto;
  padding: 0 8px;
}
/* line 11, ../assets/sass/partials/_buttons.scss */
.button .icon {
  display: block;
}
/* line 14, ../assets/sass/partials/_buttons.scss */
.button .icon:before {
  font-size: 30px;
  line-height: 47px;
}

/* line 25, ../assets/sass/partials/_buttons.scss */
.first-view .button {
  display: inline-block;
  width: 200px;
  height: 200px;
  line-height: 1.125;
  font-size: 20px;
  -webkit-box-shadow: 0px 0 0 0 rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0 0 0 rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0 0 0 rgba(0, 0, 0, 0.75);
}
/* line 36, ../assets/sass/partials/_buttons.scss */
.first-view .button .icon {
  margin-bottom: 10px;
}
/* line 39, ../assets/sass/partials/_buttons.scss */
.first-view .button .icon:before {
  line-height: 1;
}

/* line 1, ../assets/sass/partials/_supersonic.scss */
h2 {
  font-size: 36px;
}

/* line 5, ../assets/sass/partials/_supersonic.scss */
.bar.bar-footer {
  height: auto;
}

/* line 9, ../assets/sass/partials/_supersonic.scss */
.bar .button {
  min-height: 47px;
}

/* line 13, ../assets/sass/partials/_supersonic.scss */
.button.button-half {
  position: relative !important;
  top: auto !important;
  right: auto !important;
  bottom: auto !important;
  display: inline-block;
  width: 48%;
  margin: 0 1% 0 1%;
}

/* line 24, ../assets/sass/partials/_supersonic.scss */
.button.button-assertive {
  border-color: #FA2A00;
  color: #413D3D;
  background-color: #FA2A00;
  background-image: -webkit-linear-gradient(#FA2A00, #ff917b);
  background-image: linear-gradient(#FA2A00, #ff917b);
}
/* line 30, ../assets/sass/partials/_supersonic.scss */
.button.button-assertive:hover {
  color: #413D3D;
}

/* line 36, ../assets/sass/partials/_supersonic.scss */
.button.button-neutral {
  border-color: #848482;
  color: #413D3D;
  background-color: #848482;
  background-image: -webkit-linear-gradient(#848482, #c3c3c2);
  background-image: linear-gradient(#848482, #c3c3c2);
}
/* line 42, ../assets/sass/partials/_supersonic.scss */
.button.button-neutral:hover {
  color: #413D3D;
}

/* line 48, ../assets/sass/partials/_supersonic.scss */
.button.button-positive,
.bar.bar-positive {
  border-color: #1BB0CE;
  color: #413D3D;
  background-color: #1BB0CE;
  background-image: -webkit-linear-gradient(#1BB0CE, #7bdaee);
  background-image: linear-gradient(#1BB0CE, #7bdaee);
}
/* line 55, ../assets/sass/partials/_supersonic.scss */
.button.button-positive.button-outline,
.bar.bar-positive.button-outline {
  border: 2px solid #1BB0CE;
  color: #413D3D;
}
/* line 59, ../assets/sass/partials/_supersonic.scss */
.button.button-positive.button-outline .icon:before,
.bar.bar-positive.button-outline .icon:before {
  color: #413D3D;
}
/* line 65, ../assets/sass/partials/_supersonic.scss */
.button.button-positive:hover,
.bar.bar-positive:hover {
  color: #413D3D;
}

/* line 71, ../assets/sass/partials/_supersonic.scss */
.bar.bar-positive .button {
  color: #413D3D !important;
}

/* line 75, ../assets/sass/partials/_supersonic.scss */
.list-inset {
  background-color: transparent;
}

/* line 79, ../assets/sass/partials/_supersonic.scss */
.list .item {
  white-space: normal;
}

/* line 83, ../assets/sass/partials/_supersonic.scss */
.super-arrow-right-b {
  position: relative;
  display: block;
  border: 2px solid #423732;
  width: 20px;
  height: 20px;
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
  border-bottom-right-radius: 50%;
  border-top-right-radius: 50%;
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
  border-bottom-left-radius: 50%;
  border-top-left-radius: 50%;
}
/* line 95, ../assets/sass/partials/_supersonic.scss */
.super-arrow-right-b:before {
  position: absolute;
  top: 2px;
  left: 6px;
  font-size: 14px;
  color: #423732;
}

/* line 105, ../assets/sass/partials/_supersonic.scss */
.super-navigate:before {
  content: '';
  display: none;
}

/* line 110, ../assets/sass/partials/_supersonic.scss */
.list.list-qty {
  text-align: center;
}
/* line 113, ../assets/sass/partials/_supersonic.scss */
.list.list-qty .icon:before {
  vertical-align: middle;
  color: #C8FF00;
  font-size: 40px;
}

/* line 121, ../assets/sass/partials/_supersonic.scss */
.list .item-radio .icon:before {
  visibility: visible;
  vertical-align: middle;
  color: #C8FF00;
  font-size: 40px;
}

/* line 1, ../assets/sass/partials/_common.scss */
.margin-bottom-0 {
  margin-bottom: 0px !important;
}

/* line 5, ../assets/sass/partials/_common.scss */
.margin-top-10 {
  margin-top: 10px !important;
}

/* line 9, ../assets/sass/partials/_common.scss */
.margin-bottom-10 {
  margin-bottom: 10px !important;
}

/* line 13, ../assets/sass/partials/_common.scss */
.margin-top-20 {
  margin-top: 20px !important;
}

/* line 17, ../assets/sass/partials/_common.scss */
.margin-bottom-20 {
  margin-bottom: 20px !important;
}

/* line 21, ../assets/sass/partials/_common.scss */
.margin-bottom-30 {
  margin-bottom: 30px !important;
}

/* line 25, ../assets/sass/partials/_common.scss */
.margin-top-100 {
  margin-top: 100px !important;
}

/* line 29, ../assets/sass/partials/_common.scss */
.padding-bottom-100 {
  padding-bottom: 100px !important;
}

/* line 33, ../assets/sass/partials/_common.scss */
.a-center {
  text-align: center;
}

/* line 37, ../assets/sass/partials/_common.scss */
.v-align {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  -ms-transform: translateY(-50%);
  /* IE 9 */
  -webkit-transform: translateY(-50%);
  /* Safari */
  transform: translateY(-50%);
}

/* line 48, ../assets/sass/partials/_common.scss */
.divider {
  display: block;
  height: 1px;
  width: 100%;
  background-color: #848482;
}

/* line 1, ../assets/sass/partials/_extensions.scss */
.tags {
  color: #f5f5f5;
  text-align: center;
  font-size: 18px;
  margin-bottom: 20px;
}

/* line 11, ../assets/sass/custom.scss */
.page-title {
  width: 100%;
  position: relative;
  padding: 20px;
}
/* line 16, ../assets/sass/custom.scss */
.page-title h2, .page-title .h2, .page-title h3, .page-title .h3, .page-title h4, .page-title .h4 {
  text-align: center;
  width: 100%;
  line-height: 1.3;
  margin-bottom: 0;
}

/* line 25, ../assets/sass/custom.scss */
.sub-title {
  display: block;
  text-align: center;
  width: 100%;
  color: #f5f5f5;
  font-size: 12px;
  text-transform: uppercase;
}

/* line 34, ../assets/sass/custom.scss */
.index-add {
  width: 100%;
  z-index: 1;
}
/* line 38, ../assets/sass/custom.scss */
.index-add.first-view {
  position: fixed;
  bottom: auto;
  top: 50%;
  left: 50%;
  margin-top: -100px;
  margin-left: -100px;
}

/* line 49, ../assets/sass/custom.scss */
.fixed-header,
.fixed-footer,
.bar-footer {
  width: 100%;
  padding: 15px;
  background-color: #413D3D;
  z-index: 3;
}
/* line 57, ../assets/sass/custom.scss */
.fixed-header .button,
.fixed-footer .button,
.bar-footer .button {
  position: relative;
  z-index: 3;
  display: block;
  margin: 0 auto;
}

/* line 66, ../assets/sass/custom.scss */
.fixed-header,
.fixed-footer {
  position: fixed;
  left: 0;
  right: 0;
}

/* line 73, ../assets/sass/custom.scss */
.fixed-footer,
.bar-footer {
  bottom: 0;
}

/* line 78, ../assets/sass/custom.scss */
.fixed-footer {
  border-top: 1px solid #848482;
}

/* line 83, ../assets/sass/custom.scss */
.fixed-header {
  top: 0;
}

/* line 87, ../assets/sass/custom.scss */
.notes {
  position: relative;
  color: #f5f5f5;
  font-size: 18px;
  background-color: #343131;
  border: 1px solid #848482;
  padding: 15px;
}
/* line 95, ../assets/sass/custom.scss */
.notes .tag {
  display: inline-block;
  padding: 2px 7px;
  background-color: #f5f5f5;
  color: #040004;
  margin-left: 5px;
}

/* line 107, ../assets/sass/custom.scss */
.days-index .list-days {
  position: absolute;
  top: 50%;
  width: 95%;
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}
/* line 114, ../assets/sass/custom.scss */
.days-index .list-days.list .super-navigate:first-child {
  border-top: 1px solid #848482;
}
/* line 119, ../assets/sass/custom.scss */
.days-index .list .super-navigate .item .title {
  line-height: 1;
  margin-bottom: 0;
  font-family: "oswaldlight", sans-serif;
}

/* line 127, ../assets/sass/custom.scss */
.workout-checkbox-list,
.exercise-checkbox-list {
  display: block;
  padding: 0 20px;
}
/* line 132, ../assets/sass/custom.scss */
.workout-checkbox-list .item-checkbox,
.exercise-checkbox-list .item-checkbox {
  display: inline-block;
  width: auto;
  height: auto;
  vertical-align: middle;
  padding-left: 30px;
}
/* line 140, ../assets/sass/custom.scss */
.workout-checkbox-list .list super-navigate,
.exercise-checkbox-list .list super-navigate {
  width: 80%;
  height: auto;
  display: inline-block;
  background: transparent;
  color: #f5f5f5;
  vertical-align: middle;
  border-bottom: 0;
  padding: 0 0 0 10px;
}
/* line 151, ../assets/sass/custom.scss */
.workout-checkbox-list .label,
.exercise-checkbox-list .label {
  display: inline-block;
  padding-left: 20px;
  color: #9d9d9c;
  font-size: 16px;
}

/* line 160, ../assets/sass/custom.scss */
.workout-checkbox-list {
  padding-bottom: 30px;
}

/* line 166, ../assets/sass/custom.scss */
.list .item {
  border: none;
  color: #f5f5f5;
  background: none;
}
/* line 172, ../assets/sass/custom.scss */
.list super-navigate {
  display: block;
  width: 100%;
  margin: 0;
  padding: 5% 0;
  border-bottom: 1px solid #848482;
}
/* line 179, ../assets/sass/custom.scss */
.list super-navigate .item {
  position: relative;
  text-align: left;
  margin: 0;
  padding: 0;
  white-space: normal;
  font-size: 17px;
}
/* line 187, ../assets/sass/custom.scss */
.list super-navigate .item .title {
  display: block;
  text-transform: uppercase;
  font-family: "oswaldregular", sans-serif;
  font-size: 24px;
  margin-bottom: 7px;
}
/* line 195, ../assets/sass/custom.scss */
.list super-navigate .item .info {
  display: block;
  font-size: 15px;
  font-weight: 400;
  text-transform: uppercase;
  color: #C8FF00;
  line-height: 1;
}
/* line 208, ../assets/sass/custom.scss */
.list.list-days super-navigate {
  padding: 4% 0;
}

/* line 214, ../assets/sass/custom.scss */
.workout-index .workout-list,
.exercise-index .exercise-list {
  padding-bottom: 100px;
}

/* line 223, ../assets/sass/custom.scss */
.info-boxes .info-box.row {
  padding: 0 0 5px;
  background-color: #C8FF00;
  -webkit-box-pack: justify;
  -moz-box-pack: justify;
  box-pack: justify;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  -ms-justify-content: space-between;
  -o-justify-content: space-between;
  justify-content: space-between;
  -ms-flex-pack: justify;
}
/* line 228, ../assets/sass/custom.scss */
.info-boxes .info-box.row.last {
  margin-bottom: 30px;
}
/* line 236, ../assets/sass/custom.scss */
.info-boxes .info-box.day-info-box.row {
  margin-bottom: 20px;
}
/* line 240, ../assets/sass/custom.scss */
.info-boxes .info-box.day-info-box .col {
  text-align: left;
}
/* line 243, ../assets/sass/custom.scss */
.info-boxes .info-box.day-info-box .col > span {
  font-size: 18px;
}
/* line 247, ../assets/sass/custom.scss */
.info-boxes .info-box.day-info-box .col div > span {
  pointer-events: none;
}
/* line 250, ../assets/sass/custom.scss */
.info-boxes .info-box.day-info-box .col div > span > a {
  text-decoration: none;
  color: inherit;
}
/* line 263, ../assets/sass/custom.scss */
.info-boxes .info-box.workout-info-box .col {
  text-align: left;
}
/* line 266, ../assets/sass/custom.scss */
.info-boxes .info-box.workout-info-box .col > span {
  font-size: 18px;
}
/* line 270, ../assets/sass/custom.scss */
.info-boxes .info-box.workout-info-box .col div > span {
  pointer-events: none;
}
/* line 273, ../assets/sass/custom.scss */
.info-boxes .info-box.workout-info-box .col div > span > a {
  text-decoration: none;
  color: inherit;
}
/* line 282, ../assets/sass/custom.scss */
.info-boxes .info-box.workout-info-box .workout-exercise-order {
  position: absolute;
  top: 50%;
  left: 12px;
  margin-top: -12.5px;
}
/* line 293, ../assets/sass/custom.scss */
.info-boxes .info-box.exercise-info-box .col {
  text-align: center;
}
/* line 296, ../assets/sass/custom.scss */
.info-boxes .info-box.exercise-info-box .col .set-entry {
  font-size: 32px;
}
/* line 300, ../assets/sass/custom.scss */
.info-boxes .info-box.exercise-info-box .col .weight-entry {
  font-size: 16px;
}
/* line 304, ../assets/sass/custom.scss */
.info-boxes .info-box.exercise-info-box .col div > span {
  pointer-events: none;
}
/* line 307, ../assets/sass/custom.scss */
.info-boxes .info-box.exercise-info-box .col div > span > a {
  text-decoration: none;
  color: inherit;
}
/* line 318, ../assets/sass/custom.scss */
.info-boxes .info-box .col {
  position: relative;
  width: 100%;
  padding: 10px;
  line-height: 1;
}
/* line 324, ../assets/sass/custom.scss */
.info-boxes .info-box .col > span {
  color: #040004;
}
/* line 330, ../assets/sass/custom.scss */
.info-boxes .info-box .col-50 {
  width: 48%;
  max-width: 48%;
  -webkit-box-flex: 0;
  -moz-box-flex: 0;
  box-flex: 0;
  -webkit-flex: 0 0 48%;
  -moz-flex: 0 0 48%;
  -ms-flex: 0 0 48%;
  flex: 0 0 48%;
}
/* line 338, ../assets/sass/custom.scss */
.info-boxes h3.h5 {
  color: #C8FF00;
  text-transform: uppercase;
  line-height: 1;
  font-family: "oswaldlight", sans-serif;
  font-size: 26px;
  margin-top: 0;
  margin-bottom: 0;
  padding-bottom: 0;
  border-bottom: 0;
}

/* line 354, ../assets/sass/custom.scss */
.day-info-box .day-workout-title {
  color: #423732;
  float: left;
}
/* line 359, ../assets/sass/custom.scss */
.day-info-box .super-arrow-right-b {
  float: right;
  margin-right: 5px;
  margin-top: 5px;
}

/* line 367, ../assets/sass/custom.scss */
.day-workout-title {
  display: block;
  width: 75%;
  font-size: 20px;
  font-family: "oswaldregular", sans-serif;
  margin-bottom: 10px;
}

/* line 375, ../assets/sass/custom.scss */
.day-workout-exercise-info {
  clear: both;
}
/* line 378, ../assets/sass/custom.scss */
.day-workout-exercise-info > div {
  margin-bottom: 13px;
}
/* line 20, ../assets/sass/bourbon/addons/_clearfix.scss */
.day-workout-exercise-info > div::after {
  clear: both;
  content: "";
  display: table;
}
/* line 382, ../assets/sass/custom.scss */
.day-workout-exercise-info > div:last-child {
  margin-bottom: 0;
}
/* line 388, ../assets/sass/custom.scss */
.day-workout-exercise-info .workout-exercise-order {
  display: block;
  float: left;
}
/* line 393, ../assets/sass/custom.scss */
.day-workout-exercise-info .workout-name {
  display: block;
  margin-bottom: 5px;
}
/* line 398, ../assets/sass/custom.scss */
.day-workout-exercise-info .exercise-info {
  float: left;
  width: 75%;
  padding-left: 15px;
}
/* line 403, ../assets/sass/custom.scss */
.day-workout-exercise-info .exercise-info .exercise-name {
  display: block;
  margin-bottom: 6px;
}

/* line 414, ../assets/sass/custom.scss */
.workout-info-box .workout-exercise-name {
  display: inline-block;
  padding-left: 40px;
  line-height: 1.125;
  width: 80%;
}
/* line 421, ../assets/sass/custom.scss */
.workout-info-box .super-arrow-right-b {
  float: right;
  margin-right: 5px;
  margin-top: 5px;
}

/* line 429, ../assets/sass/custom.scss */
.workout-exercise-order {
  display: inline-block;
  width: 25px;
  height: 25px;
  line-height: 25px;
  background-color: #413D3D;
  color: #C8FF00 !important;
  font-family: "oswaldregular", sans-serif;
  font-size: 16px;
  text-align: center;
}

/* line 441, ../assets/sass/custom.scss */
.workout-exercise-info {
  clear: both;
  margin-top: 6px;
  padding-left: 40px;
}

/* line 449, ../assets/sass/custom.scss */
.history-boxes .history-box {
  display: table;
  padding: 0;
  margin-bottom: 10px;
  background-color: #343131;
  border: 1px solid #848482;
}
/* line 456, ../assets/sass/custom.scss */
.history-boxes .history-box .col {
  display: table-cell;
  color: #f5f5f5;
  padding: 10px;
  vertical-align: middle;
}
/* line 462, ../assets/sass/custom.scss */
.history-boxes .history-box .col span {
  line-height: 1;
  pointer-events: none;
}
/* line 466, ../assets/sass/custom.scss */
.history-boxes .history-box .col span > a {
  text-decoration: none;
  color: inherit;
}
/* line 473, ../assets/sass/custom.scss */
.history-boxes .history-box .col.date {
  text-align: center;
  border-right: 1px solid #848482;
}
/* line 477, ../assets/sass/custom.scss */
.history-boxes .history-box .col.date span {
  line-height: 1;
}
/* line 481, ../assets/sass/custom.scss */
.history-boxes .history-box .col.date span.day {
  font-size: 11px;
  font-family: "oswaldregular", sans-serif;
}
/* line 486, ../assets/sass/custom.scss */
.history-boxes .history-box .col.date span.year {
  font-size: 13px;
  font-family: "oswaldbold", sans-serif;
}
/* line 495, ../assets/sass/custom.scss */
.history-boxes .history-box .col.info span {
  line-height: 1;
  padding-left: 0;
}
/* line 500, ../assets/sass/custom.scss */
.history-boxes .history-box .col.info .set-entry {
  font-size: 22px;
}
/* line 504, ../assets/sass/custom.scss */
.history-boxes .history-box .col.info .weight-entry {
  font-size: 14px;
}
/* line 512, ../assets/sass/custom.scss */
.history-boxes .history-box .col-20 {
  width: 18%;
  max-width: 18%;
  -webkit-box-flex: 0;
  -moz-box-flex: 0;
  box-flex: 0;
  -webkit-flex: 0 0 18%;
  -moz-flex: 0 0 18%;
  -ms-flex: 0 0 18%;
  flex: 0 0 18%;
}
/* line 518, ../assets/sass/custom.scss */
.history-boxes .history-box .col-80 {
  width: 80%;
  max-width: 80%;
  -webkit-box-flex: 0;
  -moz-box-flex: 0;
  box-flex: 0;
  -webkit-flex: 0 0 80%;
  -moz-flex: 0 0 80%;
  -ms-flex: 0 0 80%;
  flex: 0 0 80%;
}
