/*Colors*/
/* line 4, ../assets/sass/custom.scss */
html {
  height: 100%;
}

/* line 8, ../assets/sass/custom.scss */
body {
  height: 100%;
  font-family: 'Oxygen', sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #423732;
  background-color: #000;
}
/* line 16, ../assets/sass/custom.scss */
body:after {
  content: '';
  display: inline-block;
  position: absolute;
  top: -50px;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background: -moz-linear-gradient(top, #2c405b 0%, rgba(125, 185, 232, 0) 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #2c405b), color-stop(100%, rgba(125, 185, 232, 0)));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #2c405b 0%, rgba(125, 185, 232, 0) 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #2c405b 0%, rgba(125, 185, 232, 0) 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #2c405b 0%, rgba(125, 185, 232, 0) 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #2c405b 0%, rgba(125, 185, 232, 0) 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2c405b', endColorstr='#007db9e8',GradientType=0 );
  /* IE6-9 */
}
/* line 35, ../assets/sass/custom.scss */
body > div {
  margin: 5%;
  padding: 0;
  position: relative;
  z-index: 2;
}

/* line 44, ../assets/sass/custom.scss */
h3, .h3, h4, .h4 {
  width: 70%;
  color: #f5f5f5;
  text-align: center;
  text-transform: uppercase;
  font-family: "Oswald", sans-serif;
  font-weight: 700;
  margin: 0 auto 20px;
  padding-bottom: 15px;
  border-bottom: 1px solid #993333;
}

/* line 58, ../assets/sass/custom.scss */
super-modal-show.first-view {
  display: block;
  width: 100%;
  padding-top: 100px;
  text-align: center;
}
/* line 64, ../assets/sass/custom.scss */
super-modal-show.first-view .button {
  display: inline-block;
  width: 200px;
  height: 200px;
  text-transform: uppercase;
  line-height: 1.125;
  font-size: 20px;
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
  border-bottom-right-radius: 50%;
  border-top-right-radius: 50%;
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
  border-bottom-left-radius: 50%;
  border-top-left-radius: 50%;
}
/* line 76, ../assets/sass/custom.scss */
super-modal-show.first-view .button .icon {
  display: block;
  margin-bottom: 10px;
}
/* line 80, ../assets/sass/custom.scss */
super-modal-show.first-view .button .icon:before {
  font-size: 50px;
}

/* line 92, ../assets/sass/custom.scss */
.notes {
  width: 70%;
  color: #f5f5f5;
  text-align: center;
  margin: 0 auto 40px;
}

/* line 99, ../assets/sass/custom.scss */
.margin-bottom-0 {
  margin-bottom: 0px !important;
}

/* line 103, ../assets/sass/custom.scss */
.margin-bottom-10 {
  margin-bottom: 10px !important;
}

/* line 107, ../assets/sass/custom.scss */
.margin-bottom-30 {
  margin-bottom: 30px !important;
}

/* line 111, ../assets/sass/custom.scss */
.a-center {
  text-align: center;
}

/* line 117, ../assets/sass/custom.scss */
form .item {
  border-left: 0;
  border-right: 0;
  border-top: 0;
  border-bottom: 0;
}
/* line 123, ../assets/sass/custom.scss */
form .item.last {
  margin-bottom: 40px;
}
/* line 129, ../assets/sass/custom.scss */
form .item-input {
  padding: 0 0 10px;
  margin-bottom: 10px;
}
/* line 139, ../assets/sass/custom.scss */
form .item-stacked-label .input-label {
  display: block;
}
/* line 145, ../assets/sass/custom.scss */
form .input-label {
  color: #f5f5f5;
  margin-bottom: 5px;
}
/* line 149, ../assets/sass/custom.scss */
form .input-label .ex {
  display: block;
  font-size: 13px;
}
/* line 156, ../assets/sass/custom.scss */
form input[type="text"],
form input[type="number"] {
  height: 45px;
  line-height: 20px;
  padding-left: 10px;
}
/* line 162, ../assets/sass/custom.scss */
form input[type="text"].col-40,
form input[type="number"].col-40 {
  display: inline-block;
  width: 38%;
  max-width: 38%;
}

/* line 172, ../assets/sass/custom.scss */
.list-inset {
  background-color: transparent;
}

/* line 178, ../assets/sass/custom.scss */
.exercise-checkbox-list .item-checkbox {
  display: inline-block;
  width: auto;
  height: auto;
}

/* line 188, ../assets/sass/custom.scss */
div.workout-index.ng-scope, div.workout-index.ng-scope > div {
  height: 100%;
}

/* line 195, ../assets/sass/custom.scss */
.list {
  height: 100%;
}
/* line 198, ../assets/sass/custom.scss */
.list .item {
  border: none;
  color: #f5f5f5;
  background: none;
}
/* line 204, ../assets/sass/custom.scss */
.list super-navigate {
  display: table;
  width: 100%;
  height: 12.5%;
  margin: 1% 0;
  padding: 0 5%;
  background: #993333;
}
/* line 212, ../assets/sass/custom.scss */
.list super-navigate:last-child {
  border-bottom: none;
}
/* line 216, ../assets/sass/custom.scss */
.list super-navigate .item {
  position: relative;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  margin: 0;
  padding: 0;
}
/* line 224, ../assets/sass/custom.scss */
.list super-navigate .item .title {
  display: block;
  text-transform: uppercase;
  font-family: "Oswald", sans-serif;
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 5px;
}
/* line 233, ../assets/sass/custom.scss */
.list super-navigate .item .info {
  display: block;
  font-size: 15px;
  font-weight: 400;
  text-transform: uppercase;
  color: #C8FF00;
}
/* line 241, ../assets/sass/custom.scss */
.list super-navigate .item:after {
  content: '';
  height: 0;
  width: 0;
  border-bottom: 10px solid transparent;
  border-left: 10px solid #993333;
  border-top: 10px solid transparent;
  position: absolute;
  right: 5px;
  top: 50%;
  margin-top: -10px;
}

/* line 260, ../assets/sass/custom.scss */
.info-boxes .info-box.row {
  padding: 0;
  margin-bottom: 10px;
  -webkit-box-pack: justify;
  -moz-box-pack: justify;
  box-pack: justify;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  -ms-justify-content: space-between;
  -o-justify-content: space-between;
  justify-content: space-between;
  -ms-flex-pack: justify;
}
/* line 265, ../assets/sass/custom.scss */
.info-boxes .info-box.row.last {
  margin-bottom: 30px;
}
/* line 271, ../assets/sass/custom.scss */
.info-boxes .info-box .col {
  position: relative;
  width: 100%;
  background: #848482;
  color: #f5f5f5;
  padding: 10px 20px;
  line-height: 1;
}
/* line 280, ../assets/sass/custom.scss */
.info-boxes .info-box .col-50 {
  width: 48%;
  max-width: 48%;
  -webkit-box-flex: 0;
  -moz-box-flex: 0;
  box-flex: 0;
  -webkit-flex: 0 0 48%;
  -moz-flex: 0 0 48%;
  -ms-flex: 0 0 48%;
  flex: 0 0 48%;
}
/* line 288, ../assets/sass/custom.scss */
.info-boxes h3.h5 {
  color: #f5f5f5;
  text-transform: uppercase;
  line-height: 1;
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 18px;
  margin-top: 0;
  margin-bottom: 0;
  padding-bottom: 0;
  border-bottom: 0;
}

/* line 303, ../assets/sass/custom.scss */
.workout-exercise-order {
  position: absolute;
  top: 50%;
  left: 20px;
  margin-top: -12.5px;
  display: inline-block;
  width: 25px;
  height: 25px;
  line-height: 25px;
  background-color: #C8FF00;
  color: #040004;
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 20px;
  text-align: center;
}

/* line 320, ../assets/sass/custom.scss */
.workout-exercise-name {
  font-size: 18px;
  padding-left: 40px;
}

/* line 325, ../assets/sass/custom.scss */
.workout-exercise-info {
  padding-left: 40px;
}

/* line 329, ../assets/sass/custom.scss */
.history-boxes {
  margin-bottom: 40px;
}
/* line 332, ../assets/sass/custom.scss */
.history-boxes .history-box {
  padding: 0;
  margin-bottom: 10px;
  -webkit-box-pack: justify;
  -moz-box-pack: justify;
  box-pack: justify;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  -ms-justify-content: space-between;
  -o-justify-content: space-between;
  justify-content: space-between;
  -ms-flex-pack: justify;
}
/* line 337, ../assets/sass/custom.scss */
.history-boxes .history-box .col {
  background: #C8FF00;
  color: #040004;
  padding: 0 10px;
  height: 50px;
}
/* line 343, ../assets/sass/custom.scss */
.history-boxes .history-box .col span {
  font-size: 14px;
  line-height: 1;
}
/* line 348, ../assets/sass/custom.scss */
.history-boxes .history-box .col.date {
  text-align: center;
  padding-top: 6px;
}
/* line 352, ../assets/sass/custom.scss */
.history-boxes .history-box .col.date span.day {
  font-size: 15px;
}
/* line 356, ../assets/sass/custom.scss */
.history-boxes .history-box .col.date span.year {
  font-size: 13px;
  font-family: "Oswald", sans-serif;
  font-weight: 700;
}
/* line 366, ../assets/sass/custom.scss */
.history-boxes .history-box .col.info span {
  line-height: 50px;
  padding-left: 10px;
  font-size: 18px;
}
/* line 376, ../assets/sass/custom.scss */
.history-boxes .history-box .col-20 {
  width: 18%;
  max-width: 18%;
  -webkit-box-flex: 0;
  -moz-box-flex: 0;
  box-flex: 0;
  -webkit-flex: 0 0 18%;
  -moz-flex: 0 0 18%;
  -ms-flex: 0 0 18%;
  flex: 0 0 18%;
}
/* line 382, ../assets/sass/custom.scss */
.history-boxes .history-box .col-80 {
  width: 80%;
  max-width: 80%;
  -webkit-box-flex: 0;
  -moz-box-flex: 0;
  box-flex: 0;
  -webkit-flex: 0 0 80%;
  -moz-flex: 0 0 80%;
  -ms-flex: 0 0 80%;
  flex: 0 0 80%;
}

/* line 392, ../assets/sass/custom.scss */
.tags {
  color: #f5f5f5;
  text-align: center;
  font-size: 18px;
  margin-bottom: 20px;
}
