<super-navbar>
    <super-navbar-title>
    </super-navbar-title>
</super-navbar>

<!--<div ng-show="showSpinner" ng-include="'_spinner.html'"></div>-->
<!--<div ng-hide="showSpinner" class="padding">-->

        <div class="page-title">
            <h2 class="h3">Help and Info</h2>
        </div>

        <div class="padding">

            <div class="padding">

                <div class="padding" style="color:#f5f5f5; text-align:left; line-height:1.5;">
                    <p>FlexFile was built and maintained by Ryan MacMurray. I am a web developer, weight lifter, fitness competitor and online entrepreneur.</p>
                    <p>If you have any questions or need help please contact me at <br /><a href="mailto:info@flexfileapp.com" style="color:#f5f5f5;">info@flexfileapp.com</a></p>
                </div>

                <!--div class="padding" style="color:#f5f5f5; text-align:center; line-height:1.5;">
                    <p>If you like this app please</p>
                    <br /><br />
                    <p><a class="button" href="#">review it.</a></p>
                </div-->

            </div>

        </div>

<!--</div>-->