<div class="fieldset">
    <div class="page-title">
        <h2 class="h3" ng-bind="day['title']"></h2>
        <h3 class="h4">Update Workout Order</h3>
    </div>
    <div class="list padding">
        <div ng-repeat="workout in localWorkouts" class="list padding margin-bottom-0">
            <label class="item item-input item-stacked-label">
                <span class="input-label" ng-bind="workout['title']"></span>
                <input type="number" min="1" max="1000" ng-model="workout['order']" placeholder="Position (leave blank if no change)" /><i class="icon super-pound"></i>
            </label>
        </div>
    </div>
</div>

<div class="bar bar-footer">
    <button class="button button-full button-positive" ng-click="updateOrder(localWorkouts)">Save</button>
</div>