<div ng-controller="IndexController" class="workout-index">
    <div ng-show="showSpinner" ng-include="'_spinner.html'"></div>
    <div ng-hide="showSpinner">

        <super-navbar>
            <super-navbar-title>
                Home
            </super-navbar-title>
        </super-navbar>

        <div class="padding">
            <ul class="list list-days" ng-hide="days.length == 0">
                <super-navigate location="day#show" data-params-id="{{ day.id }}" ng-repeat="day in localDays | orderBy:'order' ">
                    <li class="item">
                        <span class="title" ng-bind="day['day']"></span>
                        <span class="info" ng-bind="day['brief_description']"></span>
                    </li>
                </super-navigate>
            </ul>
        </div>

    </div>
</div>
