<div ng-controller="ShowController">

    <div class="padding single">

        <div ng-show="showSpinner" ng-include="'_spinner.html'"></div>
        <div ng-hide="showSpinner">

            <h2 class="h3" ng-bind="localDay['day']"></h2>

            <p class="notes">
                <span ng-bind="localDay['brief_description']"></span>
            </p>

            <h3 class="h5" ng-show="localDay.workouts.length == 0">
                <span>You have no workouts assigned to this day.</span>
            </h3>

            <div ng-if="localDay.workouts != '' " class="info-boxes margin-bottom-30">
                <div ng-repeat="workout in localDay.workouts" class="row info-box">
                    <super-navigate location="workout#show" data-params-id="{{ workout.id }}" class="col">
                        <span class="day-workout-order" ng-bind="workout['order']"></span>
                        <span class="day-workout-title" ng-bind="workout['title']"></span>
                        <div class="day-workout-exercise-info">
                            <div ng-repeat="exercise in workout.exercises | orderBy : 'order'">
                                <span ng-bind="exercise['name']"></span>
                                <span ng-bind="exercise['reps']"></span>
                                <span ng-bind="exercise['weight']"></span>
                            </div>
                        </div>
                    </super-navigate>
                </div>
            </div>

            <super-modal-show location="day#edit?id={{ localDay.id }}">
                <button class="button button-block button-assertive">
                    Edit
                </button>
            </super-modal-show>

        </div>
    </div>

</div>
