<div ng-controller="ShowController">
    <div ng-show="showSpinner" ng-include="'_spinner.html'"></div>
    <div ng-hide="showSpinner">
        <div class="page-title">
            <h2 class="h3"><span ng-bind="localDay['day']"></span></h2>
            <h3 class="h4"><span ng-bind="localDay['brief_description']"></span></h3>
        </div>
        <div class="padding padding-bottom-100">
            <div ng-hide="localDay.workouts.length == 0" class="info-boxes padding margin-bottom-30">
                <div ng-repeat="workout in localDay.workouts | orderBy : 'order'" class="row day-info-box info-box">
                    <super-navigate location="workout#show" data-params-id="{{ workout.id }}" class="col">
                        <span class="day-workout-title" ng-bind="workout['title']"></span>
                        <i class="icon super-arrow-right-b"></i>
                        <div class="day-workout-exercise-info">
                            <div ng-repeat="exercise in workout.exercises | orderBy : 'order'">
                                <span class="workout-exercise-order" ng-bind="exercise['order']"></span>
                                <div class="exercise-info">
                                    <span class="exercise-name" ng-bind="exercise['name']"></span>
                                    <span ng-bind="exercise['sets']"></span> x <span ng-bind="exercise['reps']"></span> @ <span ng-bind="exercise['weight']"></span> <span ng-bind="exercise['weight_unit']"></span><br />
                                    <div ng-if="exercise.maxweight">MAX:&nbsp;&nbsp;<span ng-bind="exercise['maxweight']"></span> <span ng-bind="exercise['weight_unit']"></span></div>
                                </div>
                            </div>
                        </div>
                    </super-navigate>
                </div>
            </div>
        </div>
        <super-modal-show ng-show="localDay.workouts.length == 0" location="day#edit?id={{ localDay.id }}" class="index-add first-view">
            <button class="button button-full button-positive">
                <i class="icon super-plus"></i> Edit/Add Workouts
            </button>
        </super-modal-show>
        <div class="bar bar-footer row" ng-hide="localDay.workouts.length == 0">
            <div class="col col-50">
                <super-modal-show location="day#order?id={{ localDay.id }}">
                    <button class="button button-full button-positive">
                        Order
                    </button>
                </super-modal-show>
            </div>
            <div class="col col-50">
                <super-modal-show location="day#edit?id={{ localDay.id }}">
                    <button class="button button-full button-assertive">
                        Edit
                    </button>
                </super-modal-show>
            </div>
        </div>
    </div>
</div>