/*Colors*/
$whiteAntiflash:        #f2f3f4;
$redDull:            	#993333;
$reddyPink:             #FA023C;
$redBrave:              #FA2A00;
$cherryOrchard:         #E7156A;
$hyperOrange:           #FC7A1D;
$orange:                #F39413;
$futureOrange:          #F3C530;
$uglyOrange:            #FF4000;
$highGlossOrange:       #FFC803;
$peachPie:              #E57E3C;
$gin:                   #FFEFB5;
$greenBliss:            #4FE291;
$grayBattleship:        #848482;
$grayGunmetal:        	#423732;
$pavement:          	#D6D6D3;
$folin:                 #C5C7AD;
$whiteSmoke:           	#f5f5f5;
$neonYellow:            $highGlossOrange;
$black:                 #040004;
$navyBlue:              #0B2E59;
$aquaBlue:              #1BB0CE;
$seaGreen:              #57D6AC;
$originalSteel:         #413D3D;

$oswald:                'oswaldregular', sans-serif;
$oswaldLight:           'oswaldlight', sans-serif;
$oswaldBold:            'oswaldbold', sans-serif;
$oxygen:                'oxygenregular', sans-serif;
$oxygenBold:            'oxygenbold', sans-serif;