/*Colors*/
$whiteAntiflash:        #f2f3f4;
$redDull:            	#993333;
$reddyPink:             #FA023C;
$redBrave:              #FA2A00;
$cherryOrchard:         #E7156A;
$hyperOrange:           #FC7A1D;
$peachPie:              #E57E3C;
$greenBliss:            #4FE291;
$grayBattleship:        #848482;
$grayGunmetal:        	#423732;
$whiteSmoke:           	#f5f5f5;
$neonYellow:            #C8FF00;
$black:                 #040004;
$navyBlue:              #0B2E59;
$aquaBlue:              #1BB0CE;
$originalSteel:         #413D3D;

$oswald:                'Oswald', sans-serif;
$oxygen:                'Oxygen', sans-serif;