/*Colors*/
$whiteAntiflash:        #f2f3f4;
$redDull:            	#993333;
$grayBattleship:        #848482;
$grayGunmetal:        	#423732;
$whiteSmoke:           	#f5f5f5;
$neonYellow:            #C8FF00;
$black:                 #040004;

$oswald:                'Oswald', sans-serif;