@import "bourbon/bourbon";
@import "vars";

html {
    height:100%;
}

body {
    height:100%;
    font-family: 'Oxygen', sans-serif;
    font-weight: 400;
    font-size: 14px;
    color:$grayGunmetal;
    background-color: #000;

    &:after {
        content:'';
        display: inline-block;
        position: absolute;
        top:-50px;
        left:0;
        width:100%;
        height:100%;
        z-index: 1;

        background: -moz-linear-gradient(top,  rgba(44,64,91,1) 0%, rgba(125,185,232,0) 100%); /* FF3.6+ */
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(44,64,91,1)), color-stop(100%,rgba(125,185,232,0))); /* Chrome,Safari4+ */
        background: -webkit-linear-gradient(top,  rgba(44,64,91,1) 0%,rgba(125,185,232,0) 100%); /* Chrome10+,Safari5.1+ */
        background: -o-linear-gradient(top,  rgba(44,64,91,1) 0%,rgba(125,185,232,0) 100%); /* Opera 11.10+ */
        background: -ms-linear-gradient(top,  rgba(44,64,91,1) 0%,rgba(125,185,232,0) 100%); /* IE10+ */
        background: linear-gradient(to bottom,  rgba(44,64,91,1) 0%,rgba(125,185,232,0) 100%); /* W3C */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2c405b', endColorstr='#007db9e8',GradientType=0 ); /* IE6-9 */
    }

    > div {
        margin:5%;
        padding:0;
        position: relative;
        z-index: 2;
    }

}

h3, .h3, h4, .h4 {
    width:70%;
    color: $whiteSmoke;
    text-align: center;
    text-transform: uppercase;
    font-family: $oswald;
    font-weight: 700;
    margin:0 auto 20px;
    padding-bottom:15px;
    border-bottom:1px solid $redDull;
}

.margin-bottom-0 {
    margin-bottom:0px !important;
}

.margin-bottom-10 {
    margin-bottom:10px !important;
}

.a-center {
    text-align: center;
}

form {

    .item {
        border-left:0;
        border-right:0;
        border-top:0;
        border-bottom:0;

        &.last {
            margin-bottom:40px;
        }

    }

    .item-input {
        padding:0 0 15px;
        margin-bottom:15px;

        &.search {
            border:1px solid $whiteSmoke;
        }

    }

    .input-label {
        color: $whiteSmoke;
        margin-bottom:5px;
    }

    input[type="text"] {
        padding-left:10px;
    }

}

div.workout-index {

    &.ng-scope,
    &.ng-scope > div {
        height:100%;
    }

}

.list {
    height:100%;

    .item {
        border:none;
        color:$whiteSmoke;
        background: none;
    }

    super-navigate {
        display: table;
        width:100%;
        height:12.5%;
        margin:1% 0;
        padding:0 5%;
        background: $redDull;
//        border-bottom:1px solid #B24848;

        &:hover,
        &:active {
        }

        &:last-child {
            border-bottom: none;
        }

        .item {
            position: relative;
            display: table-cell;
            vertical-align: middle;
            text-align: center;
            margin:0;
            padding:0;

            .title {
                display: block;
                text-transform: uppercase;
                font-family: $oswald;
                font-size: 24px;
                font-weight: 700;
                margin-bottom:5px;
            }

            .info {
                display: block;
                font-size: 15px;
                font-weight: 400;
                text-transform: uppercase;
                color: $neonYellow;
            }

            &:after {
                content:'';
                @include triangle(20px, $redDull, right);
                position: absolute;
                right:5px;
                top:50%;
                margin-top:-10px;
            }

        }

    }

}

.padding {

//    &:after {
//        content:'';
//        position: absolute;
//        top:0;
//        left:0;
//        width:100%;
//        height:100%;
//        background:#FA023C;
//        opacity: .7;
//        z-index: 1;
//    }
//
//    > div {
//        position: relative;
//        z-index: 2;
//    }

}

.info-boxes {

    &.row {
        padding:0;
        margin-bottom:10px;
        @include justify-content(space-between);

        &.last {
            margin-bottom:30px;
        }

    }

    .col {
        background: $grayBattleship;
        color: $whiteSmoke;
        text-align: center;
        padding:20px 0;
        line-height: 1;

        span {
            font-size: 18px;
        }

    }

    .col-50 {
        width:48%;
        max-width: 48%;
        @include flex(0 0 48%);
    }

    .h5 {
        color: $whiteSmoke;
        text-transform: uppercase;
        line-height: 1;
        font-family: $oswald;
        font-weight: 400;
        font-size: 18px;
        margin-top:0;
        margin-bottom:0;
    }

}

.history-boxes {

    &.row {
        padding: 0;
        margin-bottom: 10px;
        @include justify-content(space-between);

        &:last-child {
            margin-bottom: 20px;
        }

    }

    .col {
        background: #C8FF00;
        color: #040004;
        padding: 0 10px;
        height:50px;

        span {
            font-size: 14px;
            line-height: 1;
        }

        &.date {
            text-align: center;
            padding-top:6px;

            span.day {
                font-size: 15px;
            }

            span.year {
                font-size: 13px;
                font-family: $oswald;
                font-weight: 700;
            }

        }

        &.info {

            span {
                line-height: 50px;
                padding-left:10px;
                font-size: 18px;
            }

        }

    }

    .col-20 {
        width:18%;
        max-width: 18%;
        @include flex(0 0 18%);
    }

    .col-80 {
        width:80%;
        max-width: 80%;
        @include flex(0 0 80%);
    }

}

.tags {
    color: $whiteSmoke;
    text-align: center;
    font-size: 18px;
    margin-bottom:20px;
}