<div class="list">

  
  <label class="item item-input item-stacked-label">
    <span class="input-label">updated_at</span>
    <input type="text" ng-model="log['updated_at']">
  </label>
  
  <label class="item item-input item-stacked-label">
    <span class="input-label">created_at</span>
    <input type="text" ng-model="log['created_at']">
  </label>
  
  <label class="item item-input item-stacked-label">
    <span class="input-label">workout</span>
    <input type="text" ng-model="log['workout']">
  </label>
  
  <label class="item item-input item-stacked-label">
    <span class="input-label">date</span>
    <input type="text" ng-model="log['date']">
  </label>
  
  <label class="item item-input item-stacked-label">
    <span class="input-label">ACL</span>
    <input type="text" ng-model="log['ACL']">
  </label>
  
  <label class="item item-input item-stacked-label">
    <span class="input-label">tags</span>
    <input type="text" ng-model="log['tags']">
  </label>
  
  <label class="item item-input item-stacked-label">
    <span class="input-label">updated_by</span>
    <input type="text" ng-model="log['updated_by']">
  </label>
  
  <label class="item item-input item-stacked-label">
    <span class="input-label">created_by</span>
    <input type="text" ng-model="log['created_by']">
  </label>
  
  <label class="item item-input item-stacked-label">
    <span class="input-label">app_user_object_uid</span>
    <input type="text" ng-model="log['app_user_object_uid']">
  </label>
  
  <label class="item item-input item-stacked-label">
    <span class="input-label">published</span>
    <input type="text" ng-model="log['published']">
  </label>
  
  <label class="item item-input item-stacked-label">
    <span class="input-label">uid</span>
    <input type="text" ng-model="log['uid']">
  </label>
  
  <label class="item item-input item-stacked-label">
    <span class="input-label">_version</span>
    <input type="text" ng-model="log['_version']">
  </label>
  

  <br>

  <button class="button button-block button-positive">Save</button>

</div>
