<div ng-controller="ShowController">
  <super-navbar>
    <super-navbar-title>
      Show
    </super-navbar-title>
  </super-navbar>

  <div class="padding">
    <div ng-show="showSpinner" ng-include="'_spinner.html'"></div>
    <div ng-hide="showSpinner">
      <h2 ng-bind="log['updated_at']"></h2>
      
      
      
       <p>created_at: <span ng-bind="log['created_at']"></span></p> 
      
       <p>workout: <span ng-bind="log['workout']"></span></p> 
      
       <p>date: <span ng-bind="log['date']"></span></p> 
      
       <p>ACL: <span ng-bind="log['ACL']"></span></p> 
      
       <p>tags: <span ng-bind="log['tags']"></span></p> 
      
       <p>updated_by: <span ng-bind="log['updated_by']"></span></p> 
      
       <p>created_by: <span ng-bind="log['created_by']"></span></p> 
      
       <p>app_user_object_uid: <span ng-bind="log['app_user_object_uid']"></span></p> 
      
       <p>published: <span ng-bind="log['published']"></span></p> 
      
       <p>uid: <span ng-bind="log['uid']"></span></p> 
      
       <p>_version: <span ng-bind="log['_version']"></span></p> 
      


      <super-modal-show location="log#edit?id={{ log.id }}">
        <button class="button button-block button-positive">
          Edit
        </button>
      </super-modal-show>

      <button ng-click="remove(log.id)" class="button button-block button-negative">
        Remove
      </button>
    </div>
  </div>
</div>
