<div class="list">

    <label class="item item-input item-stacked-label">
        <span class="input-label">Exercise Name <span class="ex">(Ex. Seated Shoulder Press)</span></span>
        <input type="text" ng-model="exercise['name']" placeholder="Ex: Seated Shoulder Press">
    </label>

    <label class="item item-input item-stacked-label">
        <span class="input-label">Sets and Reps<span class="ex">(Ex. 4 x 10-12)</span></span>
        <input type="number" ng-model="exercise['setgoal']" placeholder="Sets" class="col-40">
        &nbsp;X&nbsp;
        <input type="number" ng-model="exercise['repgoal']" placeholder="Reps" class="col-40">
    </label>

    <label class="item item-input item-stacked-label">
        <span class="input-label">Weight Goal</span>
        <input type="text" ng-model="exercise['weight']" placeholder="Ex: 145 lbs.">
    </label>

    <label class="item item-input item-stacked-label">
        <span class="input-label">Training Technique</span>
        <select ng-model="exercise['technique']">
            <!--<option>General Training</option>-->
            <!--<option>5x5 Training</option>-->
            <!--<option>Core Training</option>-->
            <!--<option>CrossFit</option>-->
            <!--<option>German Volume Training</option>-->
            <!--<option>High Intensity Training</option>-->
            <!--<option>Mass Gain Program</option>-->
            <!--<option>Periodization</option>-->
            <!--<option>Powerlifting</option>-->
            <!--<option>Pyramid</option>-->
            <!--<option>Strength</option>-->
            <!--<option>Other</option>-->
            <option value="General Training" selected>General Training</option>
            <option value="Pyrmaid">Pyramid</option>
            <option value="Super Set">Super Set</option>
            <option value="Circuit">Circuit</option>
            <option value="Drop Set">Drop Set</option>
            <option value="Negative Set">Negative Set</option>
            <option value="Rest Pause Set">Rest Pause Set</option>
            <option value="Static Hold">Static Hold</option>
        </select>
    </label>


    <label class="item item-input item-stacked-label last">
        <span class="input-label">Searchable Tags</span>
        <!--<input type="text" ng-model="exercise['tags']" placeholder="Ex: Shoulders, Loaded">-->
        <tags-input ng-model="exercise['tags']">
            <!--<auto-complete source="loadTags($query)"></auto-complete>-->
        </tags-input>
    </label>

    <button class="button button-block button-assertive" ng-click="addToHistory(exercise)">Save</button>

</div>
