<div class="list">

    <label class="item item-input item-stacked-label">
        <span class="input-label">Exercise Name</span>
        <input type="text" ng-model="exercise['name']" placeholder="Ex: Seated Shoulder Press">
    </label>

    <label class="item item-input item-stacked-label">
        <span class="input-label">Rep Goal</span>
        <input type="text" ng-model="exercise['repgoal']" placeholder="Ex: 4 x 10-12">
    </label>

    <label class="item item-input item-stacked-label">
        <span class="input-label">Weight Goal</span>
        <input type="text" ng-model="exercise['weight']" placeholder="Ex: 145 lbs.">
    </label>

    <label class="item item-input item-stacked-label">
        <span class="input-label">Tags</span>
        <input type="text" ng-model="exercise['tags']" placeholder="Ex: Shoulders, Loaded">
    </label>

    <button class="button button-block button-positive" ng-click="addToHistory(exercise)">Save</button>

</div>
