<div class="fieldset">

	<div class="page-title">
	    <h2>Exercise Info</h2>
	</div>

    <div class="padding padding-top-0">
        <div class="padding padding-top-0">

            <div class="list margin-bottom-0">
                <label class="item item-input item-floating-label margin-bottom-20">
                    <textarea ng-model="exercise['name']" placeholder="Exercise Name" rows="2"></textarea>
                </label>
                <label class="item item-input item-floating-label">
                    <textarea ng-model="exercise['notes']" placeholder="Exercise Notes" rows="4"></textarea>
                </label>
                <label class="item item-input item-floating-label item-tags">
                    <tags-input ng-model="exercise['tags']"></tags-input>
                </label>
            </div>

            <div class="list list-set-exercise-weight margin-bottom-30 clearfix">
                <span class="sub-title margin-bottom-10">Select Weight Units</span>
                <label class="item item-radio col-30">
                    <input ng-model="exercise['weight_unit']" type="radio" name="group" value="lbs">
                    <div class="item-content">Lbs</div>
                </label>
                <label class="item item-radio col-30">
                    <input ng-model="exercise['weight_unit']" type="radio" name="group" value="kgs">
                    <div class="item-content">Kgs</div>
                </label>
                <label class="item item-radio col-30">
                    <input ng-model="exercise['weight_unit']" type="radio" name="group" value="body">
                    <div class="item-content">Body</div>
                </label>
            </div>

            <div class="list clearfix">
                <span class="sub-title margin-bottom-10">Select Training Program</span>
                <label class="item item-input item-floating-label input-select">
                    <select ng-model="exercise['technique']" ng-options="technique.technique_name for technique in techniques"></select>
                </label>
            </div>

        </div>
    </div>

</div>

<div class="fixed-footer">
    <button class="button button-half button-exercises" ng-click="addToExerciseStep1()">Next</button>
    <button class="button button-half button-neutral" ng-click="cancel()">Cancel</button>
</div>
