<div class="padding">
    <div class="list padding">
        <label class="item item-input item-floating-label">
            <input type="text" ng-model="exercise['name']" placeholder="Add Exercise Name">
        </label>
        <label class="item item-input item-floating-label">
            <input type="number" pattern="[0-9]*" ng-model="exercise['setgoal']" class="col-40" placeholder="Sets">
            &nbsp;x&nbsp;
            <input type="number" pattern="[0-9]*" ng-model="exercise['repgoal']" class="col-40" placeholder="Reps">
        </label>
        <label class="item item-input item-floating-label">
            <input type="number" pattern="[0-9]*" ng-model="exercise['weight']" placeholder="Weight Goal">
        </label>
        <label class="item item-input item-floating-label input-select">
            <select ng-model="exercise['weight_unit']" ng-options="weight_unit.unit for weight_unit in weight_units"></select>
        </label>
        <label class="item item-input item-floating-label last">
            <tags-input ng-model="exercise['tags']" placeholder="Tags"></tags-input>
        </label>
    </div>
</div>

<div class="fixed-footer">
    <button class="button button-assertive" ng-click="addToHistory(exercise)">Save</button>
</div>