<div class="fieldset">

	<div class="page-title">
	    <h2>Exercise Info</h2>
	    <span class="sub-title">You Scared Of Them Reps?</span>
	</div>

    <div class="padding">
        <div class="padding">

            <div class="list margin-bottom-0">
                <label class="item item-input item-floating-label">
                    <input type="text" ng-model="exercise['name']" placeholder="What is the name of this exercise?" />
                </label>
                <label class="item item-input item-floating-label">
                    <textarea ng-model="exercise['notes']" placeholder="Notes" rows="7"></textarea>
                </label>
            </div>

            <div class="list list-set-exercise-weight">
                <span class="sub-title margin-bottom-10">Select Weight Units</span>
                <label class="item item-radio col-30">
                    <input ng-model="exercise['weight_unit']" type="radio" name="group" value="lbs">
                    <div class="item-content">Lbs</div>
                </label>
                <label class="item item-radio col-30">
                    <input ng-model="exercise['weight_unit']" type="radio" name="group" value="kgs">
                    <div class="item-content">Kgs</div>
                </label>
                <label class="item item-radio col-30">
                    <input ng-model="exercise['weight_unit']" type="radio" name="group" value="body">
                    <div class="item-content">Body</div>
                </label>
            </div>

        </div>
    </div>

</div>

<div class="bar bar-footer">
    <button class="button button-full button-positive" ng-click="addToExerciseStep1()">Create Exercise</button>
</div>