<span style="color:#FFF;">{{localExercises | json}}</span>
<div class="fieldset">

	<div class="page-title">
	    <h2>Enter Sets</h2>
        <span class="sub-title">Enter number of sets for this exercise</span>
	</div>

    <div class="padding">

        <div class="list list-qty">
            <i ng-click="increaseSetQty()" class="icon super-plus-circled"></i>
            <label class="item item-input-qty">
                <input type="text" class="input-qty" ng-model="exercise['sets']" pattern="[0-9]*" disabled/>
            </label>
            <i ng-click="decreaseSetQty()" class="icon super-minus-circled"></i>
        </div>

    </div>

    <div class="divider margin-top-10 margin-bottom-10"></div>

    <div class="page-title">
        <h2>Select Rep Format</h2>
        <span class="sub-title">How you are tracking reps</span>
    </div>

    <div class="padding padding-top-0">

        <div class="padding padding-top-0">

            <div class="list list-set-exercise-reps">
                <label ng-click="updateRepMessage()" class="item item-radio col-50">
                    <input ng-model="exercise['reps']" type="radio" name="group" value="fixed">
                    <div class="item-content">Fixed</div>
                </label>
                <label ng-click="updateRepMessage()" class="item item-radio col-50">
                    <input ng-model="exercise['reps']" type="radio" name="group" value="series">
                    <div class="item-content">Series</div>
                </label>
                <span class="exercise-reps-message margin-top-20" ng-if="exercise.reps == 'fixed'">Ex. 3 sets all with 10 reps</span>
                <span class="exercise-reps-message margin-top-20" ng-if="exercise.reps == 'series'">Ex. Set 1 for 10 reps, Set 2 for 8 reps, Set 3 for 6 reps</span>
            </div>

        </div>

    </div>

</div>

<div class="bar bar-footer">
    <button class="button button-half button-positive" ng-click="addToExerciseStep2(exercise)">Next</button>
    <button class="button button-half button-neutral" ng-click="cancel()">Cancel</button>
</div>