<div ng-controller="IndexController" class="workout-index">

    <super-navbar>
        <super-navbar-title>
            Exercises
        </super-navbar-title>
    </super-navbar>

    <div ng-show="showSpinner" ng-include="'_spinner.html'"></div>
    <div ng-hide="showSpinner">

        <h4 ng-show="exercises.length == 0" class="assertive padding">
            No exercises found. Create one?
        </h4>

        <super-modal-show location="exercise#new">
            <button class="button button-full button-assertive">
                Create a new exercise
            </button>
        </super-modal-show>

        <ul class="list" ng-hide="exercises.length == 0">
            <super-navigate location="exercise#show" data-params-id="{{ exercise.id }}" ng-repeat="exercise in exercises">
                <li class="item">
                    <span ng-bind="exercise['name']"></span>
                </li>
            </super-navigate>
        </ul>

    </div>

</div>
