<div ng-controller="IndexController" class="workout-index">

    <super-navbar>
        <super-navbar-title>
            Exercises
        </super-navbar-title>
    </super-navbar>

    <div ng-show="showSpinner" ng-include="'_spinner.html'"></div>
    <div ng-hide="showSpinner">

        <super-modal-show location="exercise#new" ng-hide="localExercises.length == 1" class="first-view">
            <button class="button button-assertive">
                <i class="icon super-plus"></i> Add a new exercise
            </button>
        </super-modal-show>

        <super-modal-show location="exercise#new" ng-show="localExercises.length == 1">
            <button class="button button-full button-assertive">
                Create a new exercise
            </button>
        </super-modal-show>

        <ul class="list" ng-show="localExercises.length == 1">
            <super-navigate location="exercise#show" data-params-id="{{ exercise.id }}" ng-repeat="exercise in localExercises">
                <li class="item">
                    <span ng-bind="exercise['name']"></span>
                </li>
            </super-navigate>
        </ul>

    </div>

</div>
