<div ng-controller="IndexController" class="exercise-index">
    <div ng-show="showSpinner" ng-include="'_spinner.html'"></div>
    <div ng-hide="showSpinner" class="padding">
        <div ng-show="localExercises.length > 0" class="fixed-header fixed-header__search list margin-bottom-0">
            <label class="item item-input item-floating-label margin-bottom-0">
                <input type="text" ng-model="search" placeholder="Filter Exercises" /><i class="icon super-search"></i>
            </label>
        </div>
        <ul ng-show="localExercises.length > 0" class="list exercise-list padding padding-top-70 padding-bottom-150">
            <super-navigate location="exercise#show" data-params-id="{{ exercise.id }}" ng-repeat="exercise in localExercises | filter:search">
                <li class="item">
                    <span ng-bind="exercise['name']"></span>
                </li>
            </super-navigate>
        </ul>
        <div ng-show="localExercises.length > 0" class="index-add fixed-footer">
            <super-modal-show location="exercise#newExerciseStep1">
                <button class="button button-full button-exercises margin-bottom-10">Add Another Exercise</button>
            </super-modal-show>
            <super-modal-show location="workout#index">
                <button class="button button-full button-workouts">Go To Workouts</button>
            </super-modal-show>
        </div>
    </div>
</div>