<div ng-controller="ShowController">
    <super-navbar>
        <super-navbar-title>
            Show
        </super-navbar-title>
    </super-navbar>

    <div class="padding">
        <div ng-show="showSpinner" ng-include="'_spinner.html'"></div>
        <div ng-hide="showSpinner">

            <h2 ng-bind="exercise['name']"></h2>

            <p>name: <span ng-bind="exercise['updated_at']"></span></p>

            <p>repgoal: <span ng-bind="exercise['repgoal']"></span></p>

            <p>rephistory: <span ng-bind="exercise['rephistory']"></span></p>

            <p>tags: <span ng-bind="exercise['tags']"></span></p>

            <super-modal-show location="exercise#edit?id={{ exercise.id }}">
                <button class="button button-block button-positive">
                    Edit
                </button>
            </super-modal-show>

            <button ng-click="remove(exercise.id)" class="button button-block button-negative">
                Remove
            </button>
        </div>
    </div>
</div>
