<div ng-controller="ShowController">
    <!--<super-navbar>-->
        <!--<super-navbar-title>-->
            <!--Show-->
        <!--</super-navbar-title>-->
    <!--</super-navbar>-->

    <div class="padding">
        <div ng-show="showSpinner" ng-include="'_spinner.html'"></div>
        <div ng-hide="showSpinner">

            <h2 class="h3" ng-bind="exercise['name']"></h2>

            <div ng-if="exercise.reps != '' ">
                <h3 class="h4">Reps:</h3>
                <p><span ng-bind="exercise['repgoal']"></span></p>
            </div>

            <div ng-if="exercise.weight != '' ">
                <h3 class="h4">Weight:</h3>
                <p><span ng-bind="exercise['weight']"></span></p>
            </div>

            <div ng-if="exercise.history != '' ">
                <h3 class="h4">Log (last 5):</h3>
                <p ng-repeat="entry in exercise.history | orderBy: '-history_date' | limitTo: 5">
                    {{entry.history_date | date : 'shortDate'}} :: {{entry.reps}} :: {{entry.weight}}
                </p>
            </div>

            <div ng-if="exercise.tags != '' ">
                <h3 class="h4">Tags:</h3>
                <p><span ng-bind="exercise['tags']"></span></p>
            </div>

            <super-modal-show location="exercise#edit?id={{ exercise.id }}">
                <button class="button button-block button-positive">
                    Edit
                </button>
            </super-modal-show>

            <button ng-click="remove(exercise.id)" class="button button-block button-negative">
                Remove
            </button>
        </div>
    </div>

</div>
