/***********************************************************
* These styles apply for native components on iOS.
* Read more about native styles at http://docs.appgyver.com
***********************************************************/

navigation-bar {
    background-image: url(images/logo.svg);
    background-color: #040004;
    color: #ffffff;
}

navigation-bar title {
    display: inline-block !important;
    font-size: 16px;
    font-weight: 600;
    color:#CCC;
    background: #FFF;
    border:1px solid #FFF;
    width:100px;
    height:20px;
    line-height: 20px;
    text-align: center;
    text-indent:-9999px;
    position:absolute;
    left:-100%;
}

navigation-bar button,
navigation-bar back-bar-button {
    color: #ffffff;
    font-weight: 300;
}

tab-bar {
    background-color: #ffffff;
    border-top: 1px #d8d8d8 solid;
}

tab-bar tab-bar-item {
    color: #b0b1b4;
    font-family: "Avenir";
    font-size: 10px;
}

tab-bar tab-bar-item:selected {
    color: #1596f7;
}

tab-bar-item#info {
    background-image: url(icons/info.svg);
    color:#000;
}

tab-bar-item#day {
    background-image: url(icons/calendar.svg);
    color:#000;
}

tab-bar-item#workout {
    background-image: url(icons/bolt.svg);
    color:#000;
}

tab-bar-item#exercise {
    background-image: url(icons/dumbbell.svg);
    color:#000;
}
