.margin-bottom-0 {
    margin-bottom:0px !important;
}

.margin-top-10 {
    margin-top:10px !important;
}

.margin-right-10 {
    margin-right:10px !important;
}

.margin-bottom-5 {
    margin-bottom:5px !important;
}

.margin-bottom-10 {
    margin-bottom:10px !important;
}

.margin-top-20 {
    margin-top:20px !important;
}

.margin-bottom-20 {
    margin-bottom:20px !important;
}

.margin-right-20 {
    margin-right:20px !important;
}

.margin-bottom-30 {
    margin-bottom:30px !important;
}

.margin-top-100 {
    margin-top:100px !important;
}

.padding-top-0 {
  padding-top:0px !important;
}

.padding-bottom-100 {
    padding-bottom: 100px !important;
}

.padding-bottom-150 {
    padding-bottom: 150px !important;
}

.padding-bottom-200 {
    padding-bottom: 200px !important;
}

.padding-top-70 {
    padding-top: 70px !important;
}

.a-center {
    text-align: center;
}

.v-align {
    position:absolute;
    top:50%;
    left:0;
    right:0;
    
    -ms-transform: translateY(-50%); /* IE 9 */
    -webkit-transform: translateY(-50%); /* Safari */
    transform: translateY(-50%);
}

.divider {
	display:block;
	height:1px;
	width:100%;
	background-color:$grayBattleship;
}

.textColor-grey {
    color: $grayBattleship !important;
}

.left {
    float: left;
}

.right {
    float: right;
}

.clearfix {
    &:before,
    &:after {
        clear: both;
        content: '';
        display: table;
    }
}

