body {
    font-family: $oxygen;
    font-size: 16px;
    color: $grayGunmetal;
    background: $originalSteel;
}

h2, .h2, h3, .h3, h4, .h4 {
    width: 70%;
    color: $whiteSmoke;
    text-align: left;
    text-transform: uppercase;
    font-family: $oswaldLight;
    margin: 0 0 20px;
    letter-spacing: .025rem;
}

button,
.button {
    font-family: $oxygenBold;
}