body {
    font-family: $oxygen;
    font-weight: 400;
    font-size: 16px;
    color:$grayGunmetal;
    background: $originalSteel;
}

h3, .h3, h4, .h4 {
    width:70%;
    color: $whiteSmoke;
    text-align: left;
    text-transform: uppercase;
    font-family: $oswald;
    font-weight: 300;
    margin:0 0 20px;
}

button,
.button {
    font-family: $oxygen;
    font-weight:700;
}