form {

    .fieldset {
        position: absolute;
        top:0;
        bottom:0;
        left:0;
        right:0;
        width:100%;
        height:100%;
        padding-bottom:100px;
        overflow-y: scroll;
        z-index: 2;
        -webkit-overflow-scrolling: touch;
    }

    .item {
        border-left:0;
        border-right:0;
        border-top:0;
        border-bottom:0;

        &.last {
            margin-bottom:40px;
        }

    }

    .item-stacked-label {

        .input-label {
            display: block;
        }

        input[type="text"],
        input[type="number"] {
            background-color: transparent;
        }

    }

    .item-floating-label {
        margin-bottom:30px;
    }

    .item-checkbox .checkbox {
        left:0;
    }

    .input-label {
        color: $whiteSmoke;
        margin-bottom:5px;
        width:85%;
        max-width: 300px;

        .ex {
            display: block;
            font-size: 13px;
        }

    }

    .input-select {
        position: relative;

        &:after {
            content:'';
            position: absolute;
            top:15px;
            right:12px;
            @include triangle(20px, $grayBattleship, down);
        }

    }

    tags-input .tags {
        -moz-appearance: textfield;
        -webkit-appearance: textfield;
        padding: 0 0 5px 10px;
        margin-bottom:10px;
        overflow: hidden;
        word-wrap: break-word;
        cursor: text;
        background-color: transparent;
        border-top: 0;
        border-left: 0;
        border-right: 0;
        border-bottom: 1px solid $grayBattleship;
        box-shadow: 0 0 0 0 lightgray inset;

        .input {
            font-size: 18px;
            margin:0;
            padding-left:0;
            width:100px !important;
            height:45px;
        }

        .tag-item {
            margin: 4px 5px;
            padding: 0 5px;
            height: 33px;
            line-height: 32px;
            border: 0;
            background:$grayBattleship;
            color:$whiteSmoke;
        }

        input[type="text"] {
            line-height:45px;
        }

    }

}

input[type="text"],
input[type="number"] {
    height:45px;
    line-height:20px;
    padding-left:10px;
    border-bottom: 1px solid $grayBattleship;
    color: $whiteSmoke;
    font-size: 18px;

    &.col-40 {
        display: inline-block;
        width:38%;
        max-width:38%;
    }

}

select {
    width:100%;
    -webkit-appearance: none;
    background-color: transparent;
    border:1px solid $grayBattleship;
    outline: 0;
    padding: 8px 40px 8px 10px;
    font-size:18px;
    color: lighten($grayBattleship, 15%);

    @include border-top-radius(0);
    @include border-right-radius(0);
    @include border-bottom-radius(0);
    @include border-left-radius(0);

    &.ng-dirty {
        color:$whiteSmoke;
    }

}

select::-ms-expand {
    display: none;
}

.item-input {
    position: relative;
    padding:0;
    margin-bottom:10px;

    .icon::before {
        position: absolute;
        bottom:10px;
        right:10px;
        color:lighten($grayBattleship, 10%);
        font-size: 22px;
    }

    &.item-stacked-label,
    &.item-tags {

        .icon::before {
            bottom:30px;
        }

    }

}

input.input.ng-pristine.ng-untouched.ng-valid,
input.input.ng-untouched.ng-valid.ng-dirty {
    height:40px;
}