form {

  .fieldset {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    padding-bottom: 100px;
    overflow-y: scroll;
    z-index: 2;
    -webkit-overflow-scrolling: touch;
  }

  .item {
    border-left: 0;
    border-right: 0;
    border-top: 0;
    border-bottom: 0;
    &.last {
      margin-bottom: 40px;
    }
  }

  .item-toggle {
    padding-left: 0;
    .label {
      color: lighten($grayBattleship, 15%);
      font-size: 18px;
      padding: 0;
    }
    .toggle {
      margin-right: -20px;
      .track {
        border-color: darken($grayBattleship, 10%);
        background-color: $grayBattleship;
      }
      input:checked + .track {
        border-color: darken($neonYellow, 10%);
        background-color: $neonYellow;
      }
    }
  }

  .item-stacked-label {
    .input-label {
      display: block;
    }
    input[type="text"],
    input[type="number"] {
      background-color: transparent;
    }
  }

  .item-floating-label {
    margin-bottom: 30px;
  }

  .item-checkbox .checkbox {
    left: 0;
  }

  .input-label {
    color: $whiteSmoke;
    margin-bottom: 5px;
    width: 85%;
    max-width: 300px;
    .ex {
      display: block;
      font-size: 13px;
    }
  }

  .input-select {
    position: relative;
    &:before {
      content: '';
      position: absolute;
      top: 19px;
      right: 15px;
      @include triangle(15px, $neonYellow, up);
    }
    &:after {
      content: '';
      position: absolute;
      bottom: 19px;
      right: 15px;
      @include triangle(15px, $neonYellow, down);
    }
  }

  tags-input .tags {
    -moz-appearance: textfield;
    -webkit-appearance: textfield;
    padding: 0 0 5px 0;
    margin-bottom: 10px;
    overflow: hidden;
    word-wrap: break-word;
    cursor: text;
    background-color: transparent;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom: 1px solid $neonYellow;
    box-shadow: 0 0 0 0 lightgray inset;

    .input {
      font-size: 18px;
      margin: 0;
      padding-left: 0;
      width: 200px !important;
      height: 45px;
    }

    .tag-item {
      margin: 4px 5px;
      padding: 0 5px;
      height: 33px;
      line-height: 32px;
      border: 0;
      background: $grayBattleship;
      color: $whiteSmoke;
    }

    input[type="text"] {
      line-height: 45px;
    }

  }

}

input[type="text"],
input[type="number"] {
  height: 45px;
  line-height: 20px;
  border-bottom: 1px solid $neonYellow;
  color: lighten($grayBattleship, 15%);
  font-size: 18px;

  &.col-40 {
    display: inline-block;
    width: 38%;
    max-width: 38%;
  }

}

input[type="text"] {
  text-transform: capitalize;
}

.list-qty .item {
  display: inline-block;
}

.list .label {
  color: $grayBattleship;
}

.item-input-qty,
.item-input-qty-weight {
  display: inline-block;
  text-align: center;
  padding: 0 15px 20px;
  vertical-align: middle;

  .label {
    margin-top: 10px;
  }

}

input[type="text"].input-qty,
input[type="text"].input-qty-weight {
  display: inline-block;
  -webkit-appearance: none;
  vertical-align: middle;
  outline: 0;

  height: 110px;
  line-height: 110px;

  font-size: 70px;
  text-align: center;
  font-family: $oxygen;

  background-color: transparent;
  border: 1px solid $neonYellow;
  color: lighten($grayBattleship, 15%);
  padding: 10px;

  @include border-top-radius(0);
  @include border-right-radius(0);
  @include border-bottom-radius(0);
  @include border-left-radius(0);
}

input[type="text"].input-qty {
  width: 100px;
  &:disabled {
    border: 1px solid $neonYellow;
    opacity: 1;
  }
}

input[type="text"].input-qty-weight {
  width: 140px;
}

.list-exercise-reps-fixed,
.list-exercise-reps-series {
  padding: 0 15px;

  &:last-child {
    border-bottom: none;
  }

  input[type="text"].input-qty {
    width: 80px;
    height: 80px;
    line-height: 80px;
    font-size: 40px;
  }

  input[type="text"].input-qty-weight {
    width: 110px;
    height: 80px;
    line-height: 80px;
    font-size: 40px;
  }

  .label {
    clear: both;
    line-height: 40px;
  }

  .input-select {
    width: 90px;

    &:before {
      top: 12px;
      right: 10px;
      @include triangle(10px, $neonYellow, up);
    }

    &:after {
      bottom: 12px;
      right: 10px;
      @include triangle(10px, $neonYellow, down);
    }

  }

  select {
    font-size: 16px;
    padding: 7px 10px;
  }

  .at {
    font-size: 18px;
    margin: 0 5px;
  }

  .divider {
    clear: both;
  }

  &:after {
    content: '';
    display: table;
    clear: both;
  }
}

textarea {
  -webkit-appearance: none;
  background-color: transparent;
  border: 1px solid $neonYellow;
  outline: 0;
  font-size: 18px;
  padding: 15px;
  color: lighten($grayBattleship, 15%);

  @include border-top-radius(0);
  @include border-right-radius(0);
  @include border-bottom-radius(0);
  @include border-left-radius(0);
}

select {
  width: 100%;
  -webkit-appearance: none;
  background-color: transparent;
  border: 1px solid $neonYellow;
  outline: 0;
  padding: 15px 40px 15px 15px;
  font-size: 18px;
  color: lighten($grayBattleship, 15%);
  white-space: nowrap;
  overflow: hidden;

  @include border-top-radius(0);
  @include border-right-radius(0);
  @include border-bottom-radius(0);
  @include border-left-radius(0);

  &.ng-dirty {
    color: $whiteSmoke;
  }

}

select::-ms-expand {
  display: none;
}

.item-input {
  position: relative;
  padding: 0;
  margin-bottom: 10px;

  .icon::before {
    position: absolute;
    bottom: 10px;
    right: 10px;
    color: lighten($grayBattleship, 10%);
    font-size: 22px;
  }

  &.item-stacked-label,
  &.item-tags {

    .icon::before {
      bottom: 30px;
    }

  }

}

.item-radio .item-content,
.item-radio input:checked ~ .item-content {
  background-color: transparent;
}

.list-set-exercise-reps {

  .item-radio input:checked ~ .super-ios-circle-outline:before {
    content: '\f400';
  }

  .item-radio .item-content {
    text-transform: uppercase;
  }

  .col-50 {
    display: inline-block;
    width: 49%;
    max-width: 49%;
    text-align: center;
  }

  .col-30 {
    display: inline-block;
    width: 33%;
    max-width: 33.3%;
    text-align: center;
  }

  .item-radio .radio-icon {
    display: block;
    visibility: visible;
    padding-top: 0;
    padding-bottom: 0;

    position: relative;
    top: auto;
    right: auto;

    color: $neonYellow;
    font-size: 36px;
  }

  .item-content {
    display: block;
    padding-right: 0;
    padding-left: 0;
  }

  .exercise-reps-message {
    display: block;
    color: $neonYellow;
    text-align: center;
  }

}

.list-set-exercise-weight {

  .col-30 {
    display: inline-block;
    width: 32%;
    max-width: 32%;
    text-align: center;
  }

}

.list-set-exercise-reps,
.list-set-exercise-weight {

  .item-radio .item-content {
    border: 1px solid $neonYellow;
    color: lighten($grayBattleship, 15%);
    text-align: center;
    text-transform: uppercase;
    text-overflow: initial;
    padding: 15px 10px;
  }

  .item-radio input:checked ~ .item-content {
    background: $neonYellow;
    color: $grayGunmetal;
    border: 1px solid $neonYellow;
  }

}

.to {
  color: $whiteSmoke;
  font-size: 20px;
  text-align: center;
  margin-bottom: 20px;
}

input.input.ng-pristine.ng-untouched.ng-valid,
input.input.ng-untouched.ng-valid.ng-dirty {
  height: 40px;
}

.list__add-exercise-to-workout {

  .super-minus-circled {
    float: right;
    margin-top: 10px;
    &:before {
      color: $grayBattleship !important;
      font-size: 27px !important;
    }
  }

  li:after {
    content: '';
    display: table;
    clear: both;
  }

}

.buttons__add-exercise-to-workout {
  text-align: center;
}

.btn-add-new-exercise,
.btn-remove-new-exercise {
  display: inline-block;
  margin: 0 6px;

  .super-plus-circled,
  .super-minus-circled {
    font-size: 20px;

    &:before {
      font-size: 60px;
    }

  }

}

.btn-add-new-exercise {
  color: $neonYellow;
}

.btn-remove-new-exercise {
  color: $grayBattleship;
}
